<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FusionMods.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FusionMods.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>r9g6xx</value>
            </setting>
            <setting name="TeamSpeakIP" serializeAs="String">
                <value>Your TeamSpeakIp</value>
            </setting>
            <setting name="AutoTeamSpeak" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PureMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitingTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DevMode" serializeAs="String">
                <value>True</value>
            </setting>
        </FusionMods.Properties.Settings>
    </userSettings>
</configuration>